.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.task-list {
  list-style-type: none;
  padding: 0;
}

.task-item {
  background-color: #444;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.task-item.completed {
  text-decoration: line-through;
  color: #888;
}

.task-item button {
  background-color: #61dafb;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
}

.task-item button:hover {
  background-color: #21a1f1;
}
